body, #s, input[type=submit] { font-family: "adobe-text-pro",serif !important; }

.logo .e { padding-left: 1px; }
.logo .t { padding-left: 0px; }
.logo .c { padding-left: 0px; }

@media screen and (min-width: 700px) {
	.logo .e { padding-left: 3px; }
	.logo .t { padding-left: 0px; }
	.logo .c { padding-left: 0px; }
}